tensorflow==2.15.0
keras==2.15.0
numpy==1.26.4
streamlit==1.31.0
matplotlib==3.8.2
pillow==10.2.0
tensorflow-datasets==4.9.4
tensorflow-hub==0.16.1
tensorflow-metadata==1.15.0
tensorflow-probability==0.23.0
tensorflow-text==2.15.0
